<p>Question asked: <%= @question.query %></p>

<header>
  <h3>Answer</h3>
</header>

<% if @question.answer.nil? %>
  <%= render "answers/form", question: @question, answer: @answer %>
<% else %>
  <p><%= @question.answer %></p>
<% end %>