<h1>Question Page</h1>

<p>Question asked: <%= @question.query %></p>
<p>Asked by <%= @question.user.email %></p>

<header>
  <h3>Answer</h3>
</header>

<% if @question.answer.nil? %>
  <p>no answer</p>
  <%= render "answers/form", question: @question, answer: Answer.new %>
<% else %>
  <%= @question.answer.response %>
<% end %>