<p id="notice"><%= notice %></p>

<h4><%= @lecture.title %></h4>
<p><%= @lecture.user.name %></p>
<p><%= sanitize(@lecture.content) %></p>

<%# link_to 'Edit', edit_lecture_path(@lecture) %> |
<%# link_to 'Back', lectures_path %>
