<h1>User Profile</h1>

<h3>To build...</h3>

<%= link_to "Any me anything...", new_question_path %>

<h4>Outstanding Questions</h4>
<p>Text question here</p>
<h4>Your History</h4>
<p>Text question here</p>
