h1 About
p.tag_line
  em to empower people with the tools to better educate themselves
p Our aim is to build a platform where academics are financially incentivised to publish and exchange their ideas. Either with other professional academics or everyday amateur scholars. The idea was borne out of our own love of learning, but frustration at the lack of self-education tools for people outside the university system. We think a platform where curious people are free to reward professional scholars for answering their specific queries (akin to a one-on-one tutorial) would not only help democratise access to academic knowledge, but might also encourage new and stimulating academic research. 