nav{
  height: 48px;
  background-color: $light-grey;
  display: block;
  padding: 16px;
  border-bottom: 1px solid black;
  li{
    display: inline;
    font-weight: bold;
    // padding: 10px;
    a{
      padding: 16px;
    }
  }
}

ul {
  max-width: 1280px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}