nav{
    height: 48px;
    background-color: $light-grey;
    li{
        display: inline;
        padding: 10px;
        a{
            color: $text-color;
            text-decoration: none;
        }
    }
}

ul {
    max-width: 1280px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}