.global-container{
  max-width: 1280px;
  margin: 0 auto;
}
main{
  margin: 0 55px;
}

.question{
  // border: rgba(30, 30, 30, 0.3) solid 1px;
  // border-radius: 3px;
  // padding: 8px;
  margin: 28px 0px;

}

.strong{
  font-weight: bold;
  display: inline;
}