body{
    font-family: $main-font;
}

.global-container{
    max-width: 1280px;
    margin: 0 auto;
}
main{
    margin: 0 55px;
}

.question{
    border: black solid 1px;
    padding: 10px;
    margin: 10px 10px 5px;
}

.strong{
    font-weight: bold;
    display: inline;
}