body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.global-container{
  max-width: 1280px;
  margin: 0 auto;
  flex: 1 0 auto;
  h1{
    line-height: 80px;
    margin: 0.25em 0;
  }
}
main{
  margin: 0 55px;
}

.sessions, .registrations{
  width: 600px;
  margin: 1em auto;
}

.pages{
  width: 600px;
}

.question{
  // border: rgba(30, 30, 30, 0.3) solid 1px;
  // border-radius: 3px;
  // padding: 8px;
  width: 600px;
  margin: 1em auto 1.25em;
  h3{
    padding-bottom: 35px;
  }
  h4{
    margin-bottom: 10px;
  }
  .price{
    padding-bottom: 20px;
  }
  img{
    border-radius: 50%;
  }
}

.lecture{
  width: 600px;
  margin: 1em auto;
}

.users-list{
  img{
    border-radius: 50%;
  }
}

.strong{
  font-weight: bold;
  display: inline;
}

.pagination{
  text-align: center;
}

.search-bar{
  margin: 16px 0;
}

.banner{
  margin: 32px 0;
  display: flex;
  justify-content: flex-start;
  img{
    width: 25%;
    height: 100%;
    border-radius: 50%;
  }
}

.name-heading{
  margin-left: 32px;
}

.question-form{
  border: 1px black solid;
  margin: 32px 0;
}

.tag_line{
  margin-bottom: 12px;
}

.article{
  margin-top: 20px; 
}